<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
    <bean id="userDao" class="com.ssm.aspectj.Impl.UserDaoImpl"/>
    <bean id="myXMLAspect" class="com.ssm.aspectj.MyXMLAspectJ"/>
    <aop:config>
        <aop:aspect id="aspect" ref="myXMLAspect">
            <aop:pointcut expression="execution(* com.ssm.aspectj.Dao.*.*(..))" id="myPointCut"/>
            <aop:before method="myBefore" pointcut-ref="myPointCut"/>
            <aop:after-returning method="myAfterReturning" pointcut-ref="myPointCut"/>
            <aop:around method="myAround" pointcut-ref="myPointCut"/>
            <aop:after-throwing method="myAfterThrowing" pointcut-ref="myPointCut" throwing="e"/>
            <aop:after method="myAfter" pointcut-ref="myPointCut"/>
        </aop:aspect>
    </aop:config>
</beans>