<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!-- 配置方式一：依次配置相应的Bean
        //使用 context 命名空间在配置文件中开启相应的注解处理器-
        <context:annotation-config />
        //分别创建3个 Bean 实例
        <bean id="annotationUserDao" class="com.ssm.bean.Impl.AnnotationUserDaoImpl"/>
        <bean id="annotationUserService" class="com.ssm.bean.Impl.AnnotationUserServiceImpl"/>
        <bean id="annotationUserController" class="com.ssm.bean.Controller.AnnotationUserController"/>
    -->
    <!--
        //配置方式二：使用 context 命名空间通知 Spring 扫描指定包下所有的 Bean 类，进行注解解析
        <context:component-scan base-package="com.ssm.bean"/>
    -->
    <!--autowire 自动装配-->
    <bean id="annotationUserDao" class="com.ssm.bean.Impl.AnnotationUserDaoImpl"/>
    <bean id="annotationUserService" class="com.ssm.bean.Impl.AnnotationUserServiceImpl" autowire="byName"/>
    <bean id="annotationUserController" class="com.ssm.bean.Controller.AnnotationUserController" autowire="byName"/>
</beans>